/* 
    reset 
*/

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* 
    general 
*/
.w-50{
    width: 50%;
}

.fs-sm{
    font-size: 0.8em;

}
/* 
    header 
*/

/* 
    main 
*/

/* 
    footer 
*/
